body {
    font-family: 'Georgia', serif;
    background-color: #fce4ec;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f06292;
    padding: 20px;
    color: white;
    border-bottom: 5px solid #ec407a;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Cursive', serif;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gallery .photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photos img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #d81b60;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #c2185b;
}
